/* TODO Add site wide styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    * {
        font-family: "Helvetica"
    }

    .navRight a{
        text-decoration: none;
    }

    a:hover, button:hover{
        box-shadow: 4px 5px 10px 0px rgba(119, 104, 104, 0.8553);
    }
}
